

a.carousel-control {
 opacity: 1;
 height: inherit;
 width: inherit;
 background: none;
 text-shadow: none;

}
.prevSlide
{
 color: #f5f5f5;
 font-size: 2em;
 position: absolute;
 top: 50%;
 left: 0;
 background-color:rgba(0,0,0,0.5);
 transform: translate(0,-50%);
 padding: 0 10px;
}
.prevSlide:hover
{
 color:rgba(247,148,30,1);
 background-color:rgba(0,0,0,0.8);
}
.nextSlide
{
 color: #f5f5f5;
 font-size: 2em;
 position: absolute;
 top: 50%;
 right: 0;
 background-color:rgba(0,0,0,0.5);
 transform: translate(0,-50%);
 padding: 0 10px;
}
.nextSlide:hover
{
 color:rgba(247,148,30,1);
 background-color:rgba(0,0,0,0.8);
}